#content

  %span welcome
  %strong man
  #introduction
    intro
  
    second
%table
  %tr
    %td First
    %td Last
  %tr
    %td 
      = (params :first)
    %td
      = (params :last)
ficone
blu
